<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  {{>imports}}

</head>

<body>
  <div class="main-content">
    {{>header}}

    {{errorMessage}}

  </div>
  {{>footer}}
</body>
</html>